# 02 predictions for time intervals

Relating patient/attendance transactional dataframes to a daily or hourly dataframe requires a many-to-many link, which is not possible directly in ft. A linking dataframe can be used which does not contain unique keys, and can be joined on both sides with a many relationship.

In [1]:
import pandas as pd
import numpy as np
import featuretools as ft
from create_data import make_attendances_dataframe

In [2]:
df = make_attendances_dataframe(15)

#### create all dataframes we need

In [3]:
from create_data import make_timeindex_dataframe, make_HourlyTimeAttenNum_dataframe

In [6]:
df_ActiveVisits = make_HourlyTimeAttenNum_dataframe(df,'arrival_datetime','departure_datetime')
df_ActiveVisits.head()

   atten_id                hour
0         5 2018-01-01 02:00:00
1         5 2018-01-01 03:00:00
2         5 2018-01-01 04:00:00
3         5 2018-01-01 05:00:00
4         5 2018-01-01 06:00:00

In [5]:
df_hours = make_timeindex_dataframe(df,'hour','h')
df_hours.head(3)

                 hour
0 2018-01-01 00:00:00
1 2018-01-01 01:00:00
2 2018-01-01 02:00:00

In [4]:
df_days = make_timeindex_dataframe(df,'day','D')
df_days.head(3)

         day
0 2018-01-01
1 2018-01-02
2 2018-01-03

#### Make entitity sets - as before

In [7]:
import featuretools.variable_types as vtypes
data_variable_types = {'atten_id': vtypes.Id,
                       'pat_id': vtypes.Id,
                       'arrival_datetime': vtypes.Datetime,
                      'time_in_department': vtypes.Numeric,
                       'departure_datetime': vtypes.Datetime,
                       'gender': vtypes.Boolean,
                      'ambulance_arrival': vtypes.Boolean}
es = ft.EntitySet('Hospital')
es = es.entity_from_dataframe(entity_id='attendances',
                               dataframe=df,
                               index='atten_id',
                               time_index='arrival_datetime',
                              secondary_time_index={'departure_datetime':['time_in_department']}, # dictionary here!
                               variable_types=data_variable_types)

#### make entity with each attendance and hour it is active

In [8]:
df_ActiveVisits.head(3)

   atten_id                hour
0         5 2018-01-01 02:00:00
1         5 2018-01-01 03:00:00
2         5 2018-01-01 04:00:00

In [9]:
# Make linking-es (active_visits)
es = es.entity_from_dataframe(entity_id='active_visits',
                               dataframe=df_ActiveVisits,
                              make_index=True,
                              index='index',
                               variable_types={'atten_id':vtypes.Id,
                                              'hour':vtypes.Datetime})

#### make entity with hourly index

In [10]:
df_hours.head(3)

                 hour
0 2018-01-01 00:00:00
1 2018-01-01 01:00:00
2 2018-01-01 02:00:00

In [11]:
# Make hours eset
es = es.entity_from_dataframe(entity_id='hours',
                               dataframe=df_hours,
                               index='hour',
                               variable_types={'hour':vtypes.Datetime})

As we have made more entities with dataframes (and not normalised them from existing entities) we must explicitly tell the entity set the relationships:

In [11]:
# add es relationships
rel_Atten_ActiveVisits = ft.Relationship(es["attendances"]["atten_id"],
                                    es["active_visits"]["atten_id"])
rel_Hours_ActiveVisits = ft.Relationship(es["hours"]["hour"],
                                    es["active_visits"]["hour"])
es = es.add_relationships([rel_Atten_ActiveVisits,rel_Hours_ActiveVisits])

#### creating features for individual hours

Now we have all our entities linked we can run DFS on the entity "hours". This will generate features like  "COUNT(active_visits)" -> in other words -> "Occupancy" for that particlar time of day.

In [25]:
fm, features = ft.dfs(entityset=es,
                     target_entity='hours',
#                     agg_primitives=[],
#                     trans_primitives=[],
                     verbose=True,
                     max_depth = 5)
fm.head(5)

Built 41 features
Elapsed: 00:00 | Remaining: 00:00 | Progress: 100%|███████████| Calculated: 5/5 chunks

,COUNT(active_visits),NUM_UNIQUE(active_visits.atten_id),MODE(active_visits.atten_id),SUM(active_visits.attendances.time_in_department),STD(active_visits.attendances.time_in_department),MAX(active_visits.attendances.time_in_department),SKEW(active_visits.attendances.time_in_department),MIN(active_visits.attendances.time_in_department),MEAN(active_visits.attendances.time_in_department),NUM_UNIQUE(active_visits.attendances.pat_id),...,NUM_UNIQUE(active_visits.attendances.WEEKDAY(departure_datetime)),MODE(active_visits.attendances.MODE(active_visits.hour)),MODE(active_visits.attendances.DAY(arrival_datetime)),MODE(active_visits.attendances.DAY(departure_datetime)),MODE(active_visits.attendances.YEAR(arrival_datetime)),MODE(active_visits.attendances.YEAR(departure_datetime)),MODE(active_visits.attendances.MONTH(arrival_datetime)),MODE(active_visits.attendances.MONTH(departure_datetime)),MODE(active_visits.attendances.WEEKDAY(arrival_datetime)),MODE(active_visits.attendances.WEEKDAY(departure_datetime))
hour,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 01:00:00,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 02:00:00,1.0,1.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 03:00:00,1.0,1.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 04:00:00,1.0,1.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
features

[<Feature: COUNT(active_visits)>,
 <Feature: NUM_UNIQUE(active_visits.atten_id)>,
 <Feature: MODE(active_visits.atten_id)>,
 <Feature: SUM(active_visits.attendances.time_in_department)>,
 <Feature: STD(active_visits.attendances.time_in_department)>,
 <Feature: MAX(active_visits.attendances.time_in_department)>,
 <Feature: SKEW(active_visits.attendances.time_in_department)>,
 <Feature: MIN(active_visits.attendances.time_in_department)>,
 <Feature: MEAN(active_visits.attendances.time_in_department)>,
 <Feature: NUM_UNIQUE(active_visits.attendances.pat_id)>,
 <Feature: MODE(active_visits.attendances.pat_id)>,
 <Feature: SUM(active_visits.attendances.COUNT(active_visits))>,
 <Feature: SUM(active_visits.attendances.NUM_UNIQUE(active_visits.hour))>,
 <Feature: STD(active_visits.attendances.COUNT(active_visits))>,
 <Feature: STD(active_visits.attendances.NUM_UNIQUE(active_visits.hour))>,
 <Feature: MAX(active_visits.attendances.COUNT(active_visits))>,
 <Feature: MAX(active_visits.attendances.NUM_UNIQUE(active_visits.hour))>,
 <Feature: SKEW(active_visits.attendances.COUNT(active_visits))>,
 <Feature: SKEW(active_visits.attendances.NUM_UNIQUE(active_visits.hour))>,
 <Feature: MIN(active_visits.attendances.COUNT(active_visits))>,
 <Feature: MIN(active_visits.attendances.NUM_UNIQUE(active_visits.hour))>,
 <Feature: MEAN(active_visits.attendances.COUNT(active_visits))>,
 <Feature: MEAN(active_visits.attendances.NUM_UNIQUE(active_visits.hour))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.MODE(active_visits.hour))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.DAY(arrival_datetime))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.DAY(departure_datetime))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.YEAR(arrival_datetime))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.YEAR(departure_datetime))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.MONTH(arrival_datetime))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.MONTH(departure_datetime))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.WEEKDAY(arrival_datetime))>,
 <Feature: NUM_UNIQUE(active_visits.attendances.WEEKDAY(departure_datetime))>,
 <Feature: MODE(active_visits.attendances.MODE(active_visits.hour))>,
 <Feature: MODE(active_visits.attendances.DAY(arrival_datetime))>,
 <Feature: MODE(active_visits.attendances.DAY(departure_datetime))>,
 <Feature: MODE(active_visits.attendances.YEAR(arrival_datetime))>,
 <Feature: MODE(active_visits.attendances.YEAR(departure_datetime))>,
 <Feature: MODE(active_visits.attendances.MONTH(arrival_datetime))>,
 <Feature: MODE(active_visits.attendances.MONTH(departure_datetime))>,
 <Feature: MODE(active_visits.attendances.WEEKDAY(arrival_datetime))>,
 <Feature: MODE(active_visits.attendances.WEEKDAY(departure_datetime))>]

In [31]:
fm.dropna(axis=1).head()

,COUNT(active_visits),SUM(active_visits.attendances.time_in_department),SUM(active_visits.attendances.COUNT(active_visits)),SUM(active_visits.attendances.NUM_UNIQUE(active_visits.hour))
hour,,,,
2018-01-01 00:00:00,0.0,0.0,0.0,0.0
2018-01-01 01:00:00,0.0,0.0,0.0,0.0
2018-01-01 02:00:00,1.0,0.0,0.0,0.0
2018-01-01 03:00:00,1.0,0.0,0.0,0.0
2018-01-01 04:00:00,1.0,0.0,0.0,0.0

# Further notes

#### adding "Intesting" variables

In [32]:
df.head()

,atten_id,pat_id,arrival_datetime,time_in_department,ambulance_arrival,departure_datetime,gender
5,1005,992,2018-01-01 02:49:00,197,1,2018-01-01 06:06:00,0
9,1009,10281,2018-01-01 05:39:00,122,0,2018-01-01 07:41:00,1
4,1004,4471,2018-01-01 08:07:00,89,1,2018-01-01 09:36:00,1
0,1000,8416,2018-01-01 08:15:00,59,0,2018-01-01 09:14:00,0
6,1006,472,2018-01-01 11:21:00,303,1,2018-01-01 16:24:00,0

In [48]:
es["attendances"]["ambulance_arrival"].interesting_values = [True, False]

In [51]:
fm, features = ft.dfs(entityset=es,
                     target_entity='hours',
                     agg_primitives=['count','mean','percent_true'],
                     trans_primitives=[],
                      where_primitives=['count'],
                     verbose=True,
                     max_depth = 8)
fm.head(5)

Built 3 features
Elapsed: 00:00 | Remaining: 00:00 | Progress: 100%|███████████| Calculated: 5/5 chunks

,COUNT(active_visits),MEAN(active_visits.attendances.time_in_department),MEAN(active_visits.attendances.COUNT(active_visits))
hour,,,
2018-01-01 00:00:00,0.0,NaN,NaN
2018-01-01 01:00:00,0.0,NaN,NaN
2018-01-01 02:00:00,1.0,NaN,NaN
2018-01-01 03:00:00,1.0,NaN,NaN
2018-01-01 04:00:00,1.0,NaN,NaN

In [50]:
ft.list_primitives()

,name,type,description
0,skew,aggregation,Computes the skewness of a data set.
1,median,aggregation,Finds the median value of any feature with wel...
2,avg_time_between,aggregation,Computes the average time between consecutive ...
3,time_since_last,aggregation,Time since last related instance.
4,mode,aggregation,Finds the most common element in a categorical...
5,count,aggregation,Counts the number of non null values.
6,any,aggregation,Test if any value is 'True'.
7,all,aggregation,Test if all values are 'True'.
8,min,aggregation,Finds the minimum non-null value of a numeric ...
9,last,aggregation,Returns the last value.
10,mean,aggregation,Computes the average value of a numeric feature.
11,num_true,aggregation,Finds the number of 'True' values in a boolean.
12,percent_true,aggregation,Finds the percent of 'True' values in a boolea...
13,n_most_common,aggregation,Finds the N most common elements in a categori...
14,trend,aggregation,Calculates the slope of the linear trend of va...
15,max,aggregation,Finds the maximum non-null value of a numeric ...
16,sum,aggregation,Sums elements of a numeric or boolean feature.
17,std,aggregation,Finds the standard deviation of a numeric feat...
18,num_unique,aggregation,Returns the number of unique categorical varia...
19,weekend,transform,Transform Datetime feature into the boolean of...
20,characters,transform,Return the characters in a given string.
21,longitude,transform,Returns the second value on the tuple base fea...
22,is_null,transform,"For each value of base feature, return 'True' ..."
23,or,transform,"For two boolean values, determine if one value..."
24,divide,transform,Creates a transform feature that divides two f...
25,days_since,transform,"For each value of the base feature, compute th..."
26,not,transform,"For each value of the base feature, negates th..."
27,week,transform,Transform a Datetime feature into the week.
28,second,transform,Transform a Datetime feature into the second.
29,cum_sum,transform,Calculates the sum of previous values of an in...
...,...,...,...
32,seconds,transform,Transform a Timedelta feature into the number ...
33,month,transform,Transform a Datetime feature into the month.
34,time_since,transform,Calculates time since the cutoff time.
35,diff,transform,Compute the difference between the value of a ...
36,hours,transform,Transform a Timedelta feature into the number ...
37,days,transform,Transform a Timedelta feature into the number ...
38,year,transform,Transform a Datetime feature into the year.
39,cum_mean,transform,Calculates the mean of previous values of an i...
40,haversine,transform,Calculate the approximate haversine distance i...
41,time_since_previous,transform,Compute the time since the previous instance.
42,minutes,transform,Transform a Timedelta feature into the number ...
43,hour,transform,Transform a Datetime feature into the hour.
44,numwords,transform,Returns the words in a given string by countin...
45,add,transform,Creates a transform feature that adds two feat...
46,percentile,transform,"For each value of the base feature, determines..."
47,absolute,transform,Absolute value of base feature.
48,cum_min,transform,Calculates the min of previous values of an in...
49,cum_max,transform,Calculates the max of previous values of an in...
50,mod,transform,Creates a transform feature that divides two f...
51,months,transform,Transform a Timedelta feature into the number ...
52,weeks,transform,Transform a Timedelta feature into the number ...
53,subtract,transform,Creates a transform feature that subtracts two...
54,weekday,transform,Transform Datetime feature into the boolean of...
55,isin,transform,"For each value of the base feature, checks whe..."
56,cum_count,transform,Calculates the number of previous values of an...
57,and,transform,"For two boolean values, determine if both valu..."
58,multiply,transform,Creates a transform feature that multplies two...
59,minute,transform,Transform a Datetime feature into the minute.
60,day,transform,Transform a Datetime feature into the day.
61,years,transform,Transform a Timedelta feature into the number ...